# Gradle-related files
.gradle/
build/
out/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA files
.idea/
*.iml

# Logs and temp files
logs/
*.log
*.tmp

# OS-specific files
.DS_Store
Thumbs.db

# Environment files
.env